@{
    ViewBag.Title = "Home Page";
}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="Content/css/inmtstyle.css" type="text/css" />
<title>College Corner Stone</title>
<script type="text/javascript" src="scripts/jquery-1.4.1.min.js"></script>
<script type="text/javascript" src="scripts/jquery.defaultvalue.js"></script>
<script type="text/javascript" src="scripts/jquery-ui-1.8.13.custom.min.js"></script>
<script type="text/javascript" src="scripts/jquery.scrollTo-min.js"></script>
<script type="text/javascript">
$(document).ready(function () {
$("#fullname, #validemail, #message").defaultvalue("Full Name", "Email Address", "Message");
$('#shout a').click(function () {
var to = $(this).attr('href');
$.scrollTo(to, 1200);
return false;
});
$('a.topOfPage').click(function () {
$.scrollTo(0, 1200);
return false;
});
$("#tabcontainer").tabs({
event: "click"
});
});
</script>

<style type="text/css">
<!--
.style2 {font-size: 10px}
-->
</style>
</head>

<body id="top">

<!--<div id="wraper_main">-->
<div id="top_strip"></div>
<div id="header_part">
<div class="logo"></div>
<div id="header_logo_part">
<div class="logo"><img src="images/logo.png" width="350" height="110" /></div>
<div class="logo_right">
<div class="logo_top"><a href="#">Testimonials</a> | <a href="#">Contact</a> | <a href="#">Login</a></div>
<div class="logo_top1"><img src="images/header_icon.png" border="0" usemap="#Map" />
<map name="Map" id="Map"><area shape="rect" coords="17,14,53,50" href="#" /><area shape="rect" coords="61,15,95,47" href="#" /><area shape="rect" coords="103,15,138,49" href="#" /></map></div>
</div>
</div>
<div id="header_menu_part">
<a href="#">Home</a> | <a href="#">Learn</a> | <a href="#">About</a> | <a href="#">CT Careers</a> | <a href="#">Colleges and Universities</a> | <a href="#">ICTC/IEPs</a> | <a href="#">Other Institutions</a> </div>
</div>

<div id="wraper_main">
<div id="wraper_cont_main">

<div id="txt_heading">A Free Service. Easy registration for employers and students/candidates. <br />
Experienced, Entry-level, Co-op, Internship Opportunities.<br />
Unique website that connects you with Employers.</div>
<div id="banner_part">
<iframe width="820px" height="250px" frameborder="0" scrolling="no" src="slider/index.html"></iframe>
</div>

<div id="banner_part2">
<div class="blocks">
<div class="heading"><img src="images/block1.png" /></div>
<div class="img">
<div align="center" style="padding-bottom:10px;"><span style="font-size:18px;">STUDENTS/CANDIDATES</span><br /> </div>
<span style="text-align:left;">If you haven’t installed your new software, begin by reading some information on installation and other preliminaries. Before you begin working with your software, take a few moments to read an overview of Adobe Help and of the many resources available to users.</span>
</div>
<div class="btns">
<a href="#">Go to community</a> <a href="#">Post your resume</a>
</div>

</div>


<div class="blocks">
<div class="heading"><img src="images/block2.png" /></div>
<div class="img">
<div align="center" style="padding-bottom:10px;"><span style="font-size:18px;">TESTIMONIALS</span> <br /> </div>
<span style="text-align:left;">If you haven’t installed your new software, begin by reading some information on installation and other preliminaries. Before you begin working with your software, take a few moments to read an overview of Adobe Help and of the many resources available to users.</span>
</div>
<div class="btns">
<a href="#">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Play&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
</div>
</div>
<div class="blocks">
<div class="heading"><img src="images/block3.png" /></div>
<div class="img">
<div align="center" style="padding-bottom:10px;"><span style="font-size:18px;">EMPLOYERS</span> <br /> </div>
<span style="text-align:left;">If you haven’t installed your new software, begin by reading some information on installation and other preliminaries. Before you begin working with your software, take a few moments to read an overview of Adobe Help and of the many resources available to users.</span>
</div>
<div class="btns">
<a href="#">Request workshop</a> <a href="#">Fill your positions</a>
</div>
</div>

</div>


<div id="banner_part2">
<div class="blocks">
<div class="heading"><img src="images/block4.png" /></div>
<div class="img">
<div align="center" style="padding-bottom:10px;"><span style="font-size:15px;">IT INDUSTRY CERTIFICATIONS</span> <br /> </div>
<span style="text-align:left;">If you haven’t installed your new software, begin by reading some information on installation and other preliminaries. Before you begin working with your software, take a few moments to read an overview of Adobe Help and of the many resources available to users.</span>
</div>
<div class="btns">
<a href="#">Go to community</a> <a href="#">Post your resume</a>
</div>

</div>


<div class="blocks">
<div class="heading"><img src="images/block5.png" /></div>
<div class="img">
<div align="center" style="padding-bottom:10px;"><span style="font-size:15px;">NETWORKING WORKSHOPS</span> <br /> </div>
<span style="text-align:left;">If you haven’t installed your new software, begin by reading some information on installation and other preliminaries. Before you begin working with your software, take a few moments to read an overview of Adobe Help and of the many resources available to users.</span>
</div>
<div class="btns">
<a href="#">Go to community</a> <a href="#">Post your resume</a>
</div>
</div>
<div class="blocks">
<div class="heading"><img src="images/block6.png" /></div>
<div class="img">
<div align="center" style="padding-bottom:10px;"><span style="font-size:15px;">SOFTSKILLS ENHANCEMENT</span> <br /> </div>
<span style="text-align:left;">If you haven’t installed your new software, begin by reading some information on installation and other preliminaries. Before you begin working with your software, take a few moments to read an overview of Adobe Help and of the many resources available to users.</span>
</div>
<div class="btns">
<a href="#">Request workshop</a> <a href="#">Fill your positions</a>
</div>
</div>

</div>
<!--<div id="quote"> Acquire the experience needed to start your career with confidence!</div>

<div id="banner_part3">
<div class="blocks"><div class="heading">mexico</div><div class="img"></div></div>
<div class="blocks"><div class="heading">mexico</div><div class="img"></div></div>
<div class="blocks"><div class="heading">mexico</div><div class="img"></div></div>
</div>-->

<div id="block_head"><strong>Latest News and Articles</strong></div>
<div id="news_outer">
<div id="news_inner">
<div class="date_time">September 07, 07:45AM</div>
<div class="news_head">Improving Business Opportunities Through Enabling Services</div>
<div class="news_cont"><div class="news_img">hh</div>Canada’s cloud economy will directly employ more than 57,000 workers by 2018 according to a new report published by the Information and Communications Technology Council (ICTC) today.<br />

The report, Canada’s Cloud Imperative: Improving Busi</div>

</div>

<div id="news_inner">
<div class="date_time">September 07, 07:45AM</div>
<div class="news_head">Improving Business Opportunities Through Enabling Services</div>
<div class="news_cont"><div class="news_img">hh</div>Canada’s cloud economy will directly employ more than 57,000 workers by 2018 according to a new report published by the Information and Communications Technology Council (ICTC) today.<br />

The report, Canada’s Cloud Imperative: Improving Busi</div>

</div>

<div id="news_inner">
<div class="date_time">September 07, 07:45AM</div>
<div class="news_head">Improving Business Opportunities Through Enabling Services</div>
<div class="news_cont"><div class="news_img">hh</div>Canada’s cloud economy will directly employ more than 57,000 workers by 2018 according to a new report published by the Information and Communications Technology Council (ICTC) today.<br />

The report, Canada’s Cloud Imperative: Improving Busi</div>

</div>



</div>





</div>
<div style="width:150px; height:1400px; background-color:#f6f6f6; margin-top:10px; margin-bottom:10px; float:right;"></div>

</div>

<!--Partners-->

<div id="partners">
<div class="partners_head">PARTNERS</div>
<div class="partners_block_out">
<div class="partens_block"></div> <div class="partens_block"></div> <div class="partens_block"></div> <div class="partens_block"></div> <div class="partens_block"></div> <div class="partens_block"></div> <div class="partens_block"></div> <div class="partens_block"></div> <div class="partens_block"></div> <div class="partens_block"></div> <div class="partens_block"></div> <div class="partens_block"></div>
</div>
</div>

<!--Partners-->

<div id="footer">
<div class="footer_inner">
<div class="inner_block">
<div class="block_heading">Sitemap</div>

<div class="menu_simple">

<ul>

<li><a href="#">Articles</a></li>

<li><a href="#">News</a></li>

<li><a href="#">Events</a></li>

<li><a href="#">Workshops</a></li>

<li><a href="#">Professional Certifications</a></li>

</ul>

</div>

</div>

<div class="inner_block">
<div class="block_heading">About</div>
<div class="menu_simple">

<ul>

<li><a href="#">About</a></li>
<li><a href="#">Testimonials</a></li>
<li><a href="#">Contact</a></li>
<li><a href="#">Terms of Service</a></li>


</ul>

</div>
</div>

<div class="inner_block_last">
<table width="436" height="229" border="0" cellpadding="0" cellspacing="0">
<tr>
<td height="92" colspan="7"><img src="images/logo_bot.png" width="321" height="68" /></td>
</tr>
<tr>
<td width="92" height="30"><img src="images/Telephone-Alt.png" width="27" height="27" />Tel :</td>
<td colspan="6">+1 (416) 750-1652</td>
</tr>
<tr>
<td height="29"><img src="images/black_envelope-128.png" width="30" height="22" />Email :</td>
<td height="29" colspan="6"> success@collegecornerstone.com</td>
</tr>
<tr>
<td height="18" colspan="7">&nbsp;</td>
</tr>
<tr>
<td height="23" colspan="7">&nbsp;</td>
</tr>
<tr>
<td height="22" colspan="7" valign="top"><table width="434" border="0" cellspacing="0" cellpadding="0">
<tr>
<td width="320" height="26"><span class="style2">© 2014 by College CornerStone. All Rights Reserved.</span></td>
<td width="114"><span class="style2"><a href="#top" class="topOfPage"><img src="images/go_to_top.png" width="113" height="35" /></a></span></td>
</tr>
</table></td>
</tr>
</table>
</div>

</div>
</div>

</body>
</html>
